# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
*.local

# vite
vite.config*.ts

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# dependencies
node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/
/playwright-report/
/test-results/

# production
/build
/_posts/_index.json

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# env
.env
.env*.local
